/* CSS declarations go here */


.jumbotron{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.txtCenter{
    text-align: center;
}

.isSelect{
    background-color: yellow;
}
